$font-icon-name: 'fe';

@font-face {
  font-family: $font-icon-name;
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/fe.eot');
  src: url('/fonts/fe.eot#iefix') format('embedded-opentype'),
       url('/fonts/fe.woff2') format('woff2'),
       url('/fonts/fe.woff') format('woff'),
       url('/fonts/fe.ttf') format('truetype'),
       url('/fonts/fe.svg#fe') format('svg');
}

.icon {
  font-family: $font-icon-name;
  font-style: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

// Font code
.icon {
  &-menu { @include create-icon-font-content($icon-menu); }
  &-email { @include create-icon-font-content($icon-email); }
  &-rss { @include create-icon-font-content($icon-rss); }
  &-github { @include create-icon-font-content($icon-github); }
  &-dribbble { @include create-icon-font-content($icon-dribbble); }
  &-linkedin { @include create-icon-font-content($icon-linkedin); }
  &-twitter { @include create-icon-font-content($icon-twitter); }
  &-facebook { @include create-icon-font-content($icon-facebook); }
  &-instagram { @include create-icon-font-content($icon-instagram); }
  &-youtube { @include create-icon-font-content($icon-youtube); }
  &-google { @include create-icon-font-content($icon-google); }
  &-clock { @include create-icon-font-content($icon-clock); }
}

// Sharing on social networks
.share {
  font-family: $font-icon-name;
  font-weight: normal;
  margin-left: 0.2rem;
  display: inline-block;
  text-align: center;
  border: none;
  outline: none;
  color: $white;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  &-twitter {
    @include create-icon-font-content($icon-twitter);
    background-color: $icon-twitter-color;
  }

  &-facebook {
    @include create-icon-font-content($icon-facebook);
    background-color: $icon-facebook-color;
  }

  &-google {
    @include create-icon-font-content($icon-google);
    background-color: $icon-google-color;
  }
}
